html {
  width: 100%;
  height: 100%;
}

body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* Header */
header {
  width: 100%;
}

/* Main */
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

section {
  width: 100%;
}

article {
  width: 100%;
}

/* Footer */
footer {
  width: 100%;
}
