html {
  width: 100%;
  height: 100%;
}

body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
}

main {
  width: 100%;
  height: 100%;
}
footer {
  width: 100%;
}
